<hr/>
<%= form_for @essay, :multipart => true do |f| %>
  <% if @essay.errors.any? %>
    <% @essay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
  <% end %>

  <div id="map-image">
    <% if @essay.lat && @essay.lng %>
      <%= map_image_tag @essay, 300, 200, 8 %>
    <% else %>
    <img />
    <% end %>
  </div>

  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>
  <%= f.hidden_field :map_zoom_level %>
  <div class="entry-fields">
    <div><%= f.text_field :title, :placeholder => 'Title' %></div>
    <div><%= f.text_field :location, :placeholder => 'Location' %></div>
    <div><%= f.text_area :description, :rows => 3, :placeholder => 'Description' %></div>
    <div><%= f.text_area :needs, :rows => 3, :placeholder => 'A Material Scientist, An Engineer, etc' %></div>
  </div>
  <hr/>
  <ol class="sorts photos">
    <% (0..9).each do |x| %>
      <% y = x + 1 %>
      <li class="sortable photo">
        <% if @essay.photos()[x] %>
          <% if x == 1 %>
            <%= image_tag @essay.photos()[x]["original"] %>
          <% else %>
            <%= image_tag @essay.photos()[x]["small"] %>
          <% end %>
        <% end %>  
        <div class="tooltip">
          <%= f.file_field "photo_#{y}" %>
          <%= f.text_field "photo_#{y}_caption", :placeholder => 'Caption' %>
        </div>
      </li>
    <% end %>
  </ol>
  <%= f.submit 'Preview Essay', :class => 'btn btn-primary' %> or <%= link_to 'cancel', account_path %>
<% end %>
